<div class="row">
	<div class="col-lg-12">
		<div style="display: table">
			<div style="display: table-row">
				<div style="display: table-cell">
					<h2 class="page-header" style="border-bottom:none; margin-bottom:0px">
						<i class="fa fa-home" aria-hidden="true"></i>&nbsp;
					</h2>
				</div>
				<div style="display: table-cell">
					<h2 class="page-header" style="border-bottom:none; margin-bottom:0px">Home</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<hr style="margin-top: 0px;">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		The Conversation Optimizer for IBM Watson is a tool for developers to optimize the user experiences of their
		bots implemented via 
		<a href="https://www.ibm.com/watson/developercloud/conversation.html" target="_blank">Watson Conversation</a>. 
		The tool reads all conversations of a workspace and provides different filters to find
		conversation flows that have potential issues and might require improvements.
		<br><br>
		<b>Filters:</b>
			<br><br>
			<ul>
				<li>Conversations with dialog errors</li>
				<li>Conversations with unfulfilled intents</li>
				<li>Conversations with low confidence levels for intents</li>
				<li>Conversations with out of scope user input</li>				
				<li>To be done: Conversations with negative user sentiment</li>							
				</ul>
		<br><br>
		<button style="margin-right: 8px;" (click)="openConfigureButtonPressed()" class="btn btn-primary">Configure ...</button>
	</div>
</div>